{% extends 'base.html' %}

{% block content %}
    <h1>Throw</h1>
    
    <form action="{% url 'report_list:catch' %}" method="GET">
        <label for="msg">텍스트</label>
        <input type="text" id="msg" name="message"><br>
        <!-- <label for="">이메일</label>
        <input type="email" id="" name=""><br>
        <label for="">비밀번호</label>
        <input type="password" id="" name=""><br>
        <label for="">체크박스</label>
        <input type="checkbox" id="" name=""><br> -->
        <input type="submit" id="" name="" value="제출"><br>
        <!-- <input type="button" id="" name="" value="버튼"><br> -->

    </form>

{% endblock content %}