{% extends 'base.html' %}

{% block content %}

    <h1>Django Start!!</h1>
    <h1>hola! {{ info.name }}</h1>
    <h2>나이는 {{ info.age | add:2 }}</h2>
    <p>저는 {{ foods.0}}을 가장 좋아합니다.</p>

    <p>{{ pick }}은 {{ pick | length}}글자</p>
    <p>{{ foods | join:", " }}</p>

    {# 이것은 주석입니다. #}

    {% comment %}
    {% if info.age == 25 %}
    <p>25라면 출력하기!</p>
    {% endif %}
    
    <p>메뉴판</p>
    <ul>
        {% for food in foods %}
            <li>{{ food }}</li>
        {% endfor %}
    </ul>
    {% endcomment %}

    {% for text in texts %}
    <p>번호 : {{ text.id }}</p>
    <p><a href="{% url 'report_main:detail' text.pk %}">제목 : {{ text.title }}</a></p>
    <p>내용 : {{ text.content }}</p>
    {% endfor %}

    <a href="{% url 'report_main:create' %}">새글 작성하기</a>
    <a href="{% url 'report_list:list' %}">Index 바로가기</a>

{% endblock content %}
